img {
  width: auto;
  height: 4rem;
  margin-top: 1rem;
}

body {
  background-color: rgba(236, 76, 138, 1);
  font-family: 'Lato', sans-serif;
}

.first {
  background-color: rgb(227, 84, 139);
}

.second {
  background-color: rgb(206, 54, 127);
}

.third {
  background-color: rgb(171, 56, 111);
}

.header-div {
  display: flex;
  justify-content: space-between;
  padding: 3rem;
  padding-bottom: 0;
  gap: 2rem;
  color: #fff;
}

ul {
  margin: 0;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

li {
  flex-basis: calc(50% - 2px);
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid rgba(236, 76, 138, 255);
}

a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: bolder;
  color: #fff;
}

h3 {
  color: #fff;
  margin: 0;
  margin-left: 0.7rem;
  padding: 0;
  font-size: 0.8rem;
  background-color: rgb(234, 94, 147);
  font-weight: lighter;
}

p {
  width: 10rem;
  margin: 0;
  text-align: right;
}

.arrow {
  width: 1.2rem;
  height: auto;
  float: right;
}

h1 {
  text-align: center;
}
